@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

main {
  margin: 30px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #1C2120;
  margin: 0;
} 

h1 {
  font-size: 45px;
  font-weight: 600;
  align-items: center;
} 

h2 {
  font-size: 30px;
  font-weight: 400:
}

p {
  font-size: 20px;
  font-weight: 300;
}

header {
  display: inline;
}

nav {
  background-color: white;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav div {
  float: right;
}


#home {
  align-items: center;
}

#home article {
  line-height: 25px;
}

#about img {
  border-radius: 25px;
}

#about h1 {
  text-align: center;
}

#about div {
  align-items: flex-start;
  line-height: 50px;
}

#tech-stack h1 {
  text-align: center;
}

.content {
  margin: 25px 50px 50px;
  gap: 10px;
  padding: 60px;
}

.flex-container {
  display: flex;
  gap: 60px;
}

.contact-list {
  font-size: 35px;
  font-weight: 400;
}

.contact-list li {
  list-style-type: none;
  margin-bottom: 20px;
}

div svg {
  width: 96px;
  background-color: black;
  border-radius: 180%;
}

div li{
  display: inline;
  list-style-type: none;
}

.tech-stack{
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.tech-stack li{
  margin: 25px;
}